body {
  background-image: url("breadditbackground.jpg");
  color: #d7dadc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#nav {
    font-family: 'Rubik', sans-serif;
    background: #1A1A1B;
}
  
#search {
    background: #272729;
    color: #d2d5d7;
}

#submit {
    color: white;
    background: black;
}

.btn {
  background: #1a1a1b;
}

#sIcon {
    color: #818384;
}

#pfp {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
#pic {
  border-radius: 20px;
  height: 150px;
  width: 150px;
}
#userprofile:hover {
  border-color: gray;
  border-width: thin;
}


#postbreaddit {
  color: #d7dadc;
}

.form-control {
  background: #1a1a1b;
  border-color: gray;
}

.form-control:focus {
  background: #1a1a1b;
  border-color: white;
}

.btn:hover {
  background: red;
}

.vote-arrow {
  color: #818384;
}
.hidden {
  display: none;
}

.blurred {
  filter: blur(25px);
}